html{
    font-family: "Rubik", sans-serif;

    overflow-x: hidden;

    margin-left: auto;
    margin-right: auto;
}

.top-container{
    display: flex;
    justify-content: center;

    gap: 5%;

    width: 100%;

    background-color: rgb(104, 224, 104);
    color: rgb(0, 0, 0);

    list-style-type: none;
}
.top-container p{
    font-size: 1.9em;

    margin-top: auto;
    margin-bottom: auto;
}
.top-container img{
    width: 20%;
    height: 20%;

    max-width: 10em;
    max-height: 10em;

    margin-top: auto;
    margin-bottom: auto;
}

.mid-container{
    background: rgb(104, 224, 104);

    display: grid;

    width: auto;
    height: auto;

    min-width: 90%;

    border-top: 1em solid rgb(104, 224, 104);
    border-left: 1em solid rgb(104, 224, 104);
    border-right: 1em solid rgb(104, 224, 104);
    border-bottom: 4em solid rgb(104, 224, 104);

    gap: 50px;

    grid-template-columns: repeat(auto-fit, 250px);
    grid-template-rows: repeat(auto-fit, 250px);

    justify-content: center;
    justify-items: center;   
}
.mid-container div{
    justify-content: center;
    text-align: center;
}
.mid-container button{
    text-decoration: none;
    border: none;
    background: rgb(111, 238, 111);

    font-size: 2em;

    color: rgb(0, 0, 0);

    transition: 0.3s;
}
.mid-container button:hover{
    font-size: 2.2em;

    transition: 0.3s;
}
.mid-container button:active{
    font-size: 1.8em;

    transition: 0.1s;
}
.mid-container img{
    width: 100%;
    height: 100%;

    max-width: 250px;
    max-height: 250px;

    background:  rgb(86, 185, 86);
}

.bot-container{
    display: flex;
    justify-content: start;

    gap: 5%;

    width: 100%;

    background-color: rgb(104, 224, 104);
    color: rgb(0, 0, 0);

    justify-content: start;

    border-top: 1em solid rgb(104, 224, 104);
    border-bottom: 1em solid rgb(104, 224, 104);
}
.bot-container li{
    font-size: 1em;

    list-style-type: none;

    margin-top: auto;
    margin-bottom: auto;
}